<div class="container">
  <div>
    <h3>Work experience requirements</h3>
  </div>
  <div>
    <h5>Nationally, this career typically requires:</h5>
    <ul class="list-group list-group-flush">
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <!-- <input type="radio" name="nation" class="custom-control-input"> -->
          <span>&nbsp;No ( related work experience for entry )</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <!-- <input type="radio" name="nation" class="custom-control-input"> -->
          <span>&nbsp;Little or no on-the-job training ( to become competent )</span>
        </div>
      </li>
    </ul>
    <h3>Educational Requirements
    </h3>
    <ul>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="radio" class="custom-control-input">
          <span>&nbsp;Bachelor's degree</span>
        </div>
      </li>
    </ul>
    <h3>Knowledge Areas
  </h3>
  <ul>
    <li>
      <div class="checkbox-item custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input">
        <span>&nbsp;<span class="know-font">Mathematics</span>—Using mathematics to solve problems.</span>
      </div>
    </li>
    <li>
      <div class="checkbox-item custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input">
        <span>&nbsp;<span class="know-font">Reading</span>—Understanding written sentences and paragraphs in work related documents.</span>
      </div>
    </li>
    <li>
      <div class="checkbox-item custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input">
        <span>&nbsp;<span class="know-font">Thinking</span> Critically—Using logic and reasoning to identify the strengths and weaknesses of alternative solutions, conclusions or approaches to problems.</span>
      </div>
    </li>
    <li>
      <div class="checkbox-item custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input">
        <span>&nbsp;<span class="know-font">Writing</span>—Communicating effectively in writing as appropriate for the needs of the audience.</span>
      </div>
    </li>
    <li>
      <div class="checkbox-item custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input">
        <span>&nbsp;<span class="know-font">Learning New Things</span>—Understanding the implications of new information for both current and future problem-solving and decision-making.</span>
      </div>
    </li>
    <li>
      <div class="checkbox-item custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input">
        <span>&nbsp;<span class="know-font">Listening</span>Listening—Giving full attention to what other people are saying, taking time to understand the points being made, asking questions as appropriate, and not interrupting at inappropriate times.</span>
      </div>
    </li>
    <li>
      <div class="checkbox-item custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input">
        <span>&nbsp;<span class="know-font">Evaluating a System or Organization</span>Evaluating a System or Organization—Identifying measures or indicators of system performance and the actions needed to improve or correct performance, relative to the goals of the system.</span>
      </div>
    </li>
    <li>
      <div class="checkbox-item custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input">
        <span>&nbsp;<span class="know-font">Making Decisions</span>—Considering the relative costs and benefits of potential actions to choose the most appropriate one.</span>
      </div>
    </li>
    <li>
      <div class="checkbox-item custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input">
        <span>&nbsp;Speaking—Talking to others to convey information effectively.</span>
      </div>
    </li>
    <li>
      <div class="checkbox-item custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input">
        <span>&nbsp;<span class="know-font">Monitoring Performance</span>Monitoring Performance—Monitoring/Assessing performance of yourself, other individuals, or organizations to make improvements or take corrective action.</span>
      </div>
    </li>
  </ul>

  </div>

</div>