<div class="market-outlook-component">
  <div

      class="back-cover align-items-center">
      <div>
        <a class="back-btn" [routerLink]="['/job/career-resources/finance']">
          <i class="material-icons">arrow_back</i>
          Finance
      </a>
      </div>

        <div
            class="slogan-background">
            <div class="slogan">
                Market Outlook
            </div>

        </div>
    </div>


<div class="container">
    <div>
      <div class="services outlook-content outlook-description">
          <div class="info">
            <div class="info1">
              <span class="under-txt">
                  <strong>National Average</strong><br><br>The average Financial Analyst salary in Canada is $72,500 per year
                or $37.18 per hour. Entry level positions start at $41,047 per year
                while most experienced workers make up to $97,500 per year.
                <br><br>
                Career market outlook ( <i class="material-icons star-sm">star</i> )
                <br>
                <i class="material-icons star green-fill">star</i>
                <i class="material-icons star green-fill">star</i>
                <i class="material-icons star green-fill">star</i>
                <i class="material-icons star green-fill">star</i>
                <i class="material-icons star">star</i>
                </span>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="first-text content"><p ><strong style="font-size:22px">Current demand ( high, low, medium )</strong></p>
          <span class="first-text">
            This career is currently in above average  demand.
          </span>
        </div>
      </div>
        <div class="row">
          <div class="first-text content  market-pad">
          <p><strong style="font-size:22px">Future demand</strong></p>
          <span class="first-text">
            The financial sector in Canada is one of growth.
            If you are a business student with an interest in finance,
            be sure to consider the jobs above. They're currently in-demand
            finance jobs in Canada and will likely stay in demand.
            For Financial and investment analysts, over the period 2017-2026,
            new job openings (arising from expansion demand and replacement demand)
            are expected to total 27,400, while 29,000 new job seekers (arising from
            school leavers, immigration and mobility) are expected to be available
            to fill them.

          </span>
        </div>
        </div>
          </div>
    </div>
</div>
