<div class="reset-password-component">
  <div class="reset-password-form">
    <form #resetPasswordForm="ngForm" (ngSubmit)="resetPassword(resetPasswordForm.valid)">
      <h2 class="text-center">
        <div>
          <cl-image
            class="mouse-pointer"
            public-id="peersviewBrand"
            [routerLink]="['/']">
          </cl-image>
        </div>
        <div class="signup-label">Reset Password</div>
      </h2>
      
      <div class="form-group">
        <div class="col-sm-12 reset-password-input">
          <input type="password" class="form-control" placeholder="New Password" name="password" autocomplete="password" [(ngModel)]="user.password" #password="ngModel" required minlength="8" />
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            <div *ngIf="password.errors.required || password.errors.minlength">
              Password required at least 8 characters
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12 reset-password-input">
          <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword" autocomplete="confirmPassword" [(ngModel)]="user.confirmPassword" #confirmPass="ngModel" validateEqual="password" required />
          <div *ngIf="confirmPass.invalid && (confirmPass.dirty || confirmPass.touched)" class="alert alert-danger">
            <div *ngIf="!confirmPass.errors.validateEqual">
              Password mismatch
            </div>
          </div>
        </div>
      </div>

      <button type="submit" class="btn-peersview-primary btn-block btn-peersview-md">Reset</button>
    </form>
    <div class="hint-text small">Already have an account?
      <a class="reset-password-now peersview-secondary-color" [routerLink]="['/sign-in']">Sign-in</a>
    </div>
  </div>
</div>
