<div class="index-community-page-component">
  <!-- <index-sticky-navbar-component class="community-show-sticky hidden-xs" sticky></index-sticky-navbar-component> -->
  <div class="container commnity-body">
    <div class="d_flex valign-center flex_wrap_reverse">
      <div class="flex_1">
        <div class="img-landing">
          <img src="https://res.cloudinary.com/peersview-com/image/upload/v1584995778/Community_connect_odzmil.png">
        </div>
      </div>
      <div class="flex_1">
        <h3 class="title-header">Community</h3>
        <h2 class="title">Connect With Other Students</h2>
        <div class="items-wrapper d_flex flex_wrap">
          <div class="item flex_1">
            <div class="item-content">
              <span>
                <img src="https://res.cloudinary.com/peersview-com/image/upload/v1584688361/chat-smile-2-line_lj59ek.svg"/>
              </span>
              <p class="sub-title">Connect</p>
              <p class="item-description">with a community of students within your field of study, and other fields, from various universities and colleges.</p>
            </div>
          </div>
          <div class="item flex_1">
            <div class="item-content">
              <span>
                <img src="https://res.cloudinary.com/peersview-com/image/upload/v1584688361/chat-voice-line_iad5ii.svg"/>
              </span>
              <p class="sub-title">Ask</p>
              <p class="item-description">questions from other students on topics relating to your course or career.</p>
            </div>
          </div>
        </div>
        <div class="items-wrapper d_flex flex_wrap">
          <div class="item flex_1">
            <div class="item-content">
              <span>
                <img src="https://res.cloudinary.com/peersview-com/image/upload/v1584688361/command-line_slkrj5.svg"/>
              </span>
              <p class="sub-title">Build</p>
              <p class="item-description">early meaningful relationships with future industry peers. As more than 80% of job openings are filled through networking. </p>
            </div>
          </div>
          <div class="item flex_1">
            <div class="item-content">
              <span>
                <img src="https://res.cloudinary.com/peersview-com/image/upload/v1584688361/code-s-slash-fill_epw0nl.svg"/>
              </span>
              <p class="sub-title">Learn</p>
              <p class="item-description">valuable and relevant skills required in your desired career path from alumni's.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
