<div 
  class="about-us-community-component peersview-primary-bg-color">
  <div 
    class="container ">
    <div 
      class="row align-items-center">
      <div 
        class="col-md-6 col-sm-6 ">
        <h2>Our Mission</h2>
        <h4 
          class="peersview-font-weight-light">
            Our mission is to connect geographically disconnected peers through their interests,
             <!-- with a platform where they can -->
             to share knowledge and social experiences.
        </h4>
      </div>
      <div 
        class="col-md-6 col-sm-6">
        <div 
          class="winners">
        </div>
      </div>
    </div>
  </div>
</div>