<div 
  class="about-us-team-component">
  <div 
    class="container">
  <div 
    class="row">
    <div 
      class="col-md-2 col-sm-2">
        <p>Our team</p>
      <h1 class="team-label">Peersview Team</h1>
    </div> 
    <div 
      class="col-md-10 col-sm-10">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-4">
                  <img 
                    class="icon m-peersview-xr-1 img-small" 
                    src="https://res.cloudinary.com/peersview-com/image/upload/v1519654325/gabrielTeam.png" 
                    alt="icon" />
                <h3 
                  class="name text-center">
                  Gabriel Amodu</h3>
                <p class="position text-center">Co founder/ Product Lead</p>
                <div class="social-list1 text-center">
                  <a href="https://www.facebook.com/Peersview/" class="facebook-wrap" data-toggle="tooltip" title=""></a>
                  <a href="https://twitter.com/Peersview/" class="twitter"  data-toggle="tooltip" title=""></a>
                  <a class="linkedIn-wrap" data-toggle="tooltip" title=""></a>
  
                </div>  
              </div>

              <div 
                class="col-md-6 col-sm-6 col-lg-4">
                <img 
                  class="icon m-peersview-xr-1 img-small" 
                  src="https://res.cloudinary.com/peersview-com/image/upload/v1519654525/nikolaTeam.jpg" 
                  alt="icon" />

              <h3 class="name text-center">Nikola Leger</h3>
              <p class="position text-center">Business Development</p>

              <div class="social-list1 text-center">
                <a href="https://www.facebook.com/Peersview/" class="facebook-wrap" data-toggle="tooltip" title=""></a>
                <a href="https://twitter.com/Peersview/" class="twitter"  data-toggle="tooltip" title=""></a>
                <a class="linkedIn-wrap" data-toggle="tooltip" title=""></a>

              </div>  
              </div>
              <div class="col-md-6 col-sm-6 col-lg-4">
                <img class="icon m-peersview-xr-1 img-small" src="https://res.cloudinary.com/peersview-com/image/upload/v1566333012/Alex_uynwz7.png" alt="icon" />

              <h3 class="name text-center">Alex Lu</h3>
              <p class="position text-center">Lead Engineer</p>
              <div class="social-list1 text-center">
                <a href="https://www.facebook.com/Peersview/" class="facebook-wrap" data-toggle="tooltip" title=""></a>
                <a href="https://twitter.com/Peersview/" class="twitter"  data-toggle="tooltip" title=""></a>
                <a class="linkedIn-wrap" data-toggle="tooltip" title=""></a>

              </div>  
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-6 col-lg-4">
                <img class="icon m-peersview-xr-1 img-small" src="https://res.cloudinary.com/peersview-com/image/upload/v1519658141/heenaTeam.png" alt="icon" />

              <h3 class="name text-center">Heena Trivedi</h3>
              <p class="position text-center">Engineer</p>
              <div class="social-list1 text-center">
                <a href="https://www.facebook.com/Peersview/" class="facebook-wrap" data-toggle="tooltip" title=""></a>
                <a href="https://twitter.com/Peersview/" class="twitter"  data-toggle="tooltip" title=""></a>
                <a class="linkedIn-wrap" data-toggle="tooltip" title=""></a>

              </div>  
              </div>
              <div class="col-md-6 col-sm-6 col-lg-4">
                <img class="icon m-peersview-xr-1 img-small" src="https://res.cloudinary.com/peersview-com/image/upload/v1586357454/Bilal_Rehman_nmf8dg.jpg" alt="icon" />
              <h3 class="name text-center">Bilal Rehman</h3>
              <p class="position text-center">Creative Lead</p>
              <div class="social-list1 text-center">
                <a href="https://www.facebook.com/Peersview/" class="facebook-wrap" data-toggle="tooltip" title=""></a>
                <a href="https://twitter.com/Peersview/" class="twitter"  data-toggle="tooltip" title=""></a>
                <a class="linkedIn-wrap" data-toggle="tooltip" title=""></a>

            </div>  
              </div>
              <div class="col-md-6 col-sm-6 col-lg-4">
                <img class="icon m-peersview-xr-1 img-small" src="https://res.cloudinary.com/peersview-com/image/upload/v1519653441/bowaleJolaosoTeam.png
                " alt="icon" />

              <h3 class="name text-center">Bowale Jolaoso</h3>
              <p class="position text-center">Co founder/ Advisory</p>
              <div class="social-list1 text-center">
                  <a href="https://www.facebook.com/Peersview/" class="facebook-wrap" data-toggle="tooltip" title=""></a>
                  <a href="https://twitter.com/Peersview/" class="twitter"  data-toggle="tooltip" title=""></a>
                  <a class="linkedIn-wrap" data-toggle="tooltip" title=""></a>

              </div>  
              </div>
            </div>
    </div> 
  </div>  

    <!-- <div class="team-container">
       <div class="header text-center">
        <h1>Our team</h1>
        <p>At Peersview we are hungry, hungry to learn, hungry to develop and hungry to make a difference.</p>
      </div> 
      <div class="row members text-center">
        <div class="members-info text-center">
          <cl-image
            public-id="gabrielTeam"
            width="150"
            radius="max">
          </cl-image>
          <span class="name">Gabriel Amodu</span>
          <small class="position">Product Lead</small>
        </div>
        <div class="members-info text-center">
          <cl-image
            public-id="nikolaTeam"
            width="150"
            radius="max">
          </cl-image>
          <span class="name">Nikola Leger</span>
          <small class="position">Business Development</small>
        </div>
        <div class="members-info text-center">
          <cl-image
            public-id="v1566333012/Alex_uynwz7"
            width="150"
            radius="max">
          </cl-image>
          <span class="name">Alex Lu</span>
          <small class="position">Lead Engineer</small>
        </div>
        <div class="members-info text-center">
          <cl-image
            public-id="heenaTeam"
            width="150">
          </cl-image>
          <span class="name">Heena Trivedi</span>
          <small class="position">Engineer</small>
        </div>
      </div>
    </div>
    <div class="text-center advisory-team">
      <div class="row">
        <h1>Advisory Team</h1>
      </div>
      <div class="row">
        <div class="members-info">
          <cl-image
            public-id="bowaleJolaosoTeam"
            width="150"
            radius="max">
          </cl-image>
          <span class="name">Bowale Jolaoso</span>
        </div>
      </div>
    </div> -->
  </div>
</div>