<div class="career-index-first-page-component">
  <div class="container">
    <shared-navbar-unauth-component
      [peersviewLogo]=true
      [logo]=true
      [isLogoBlue]=true
      [aboutUsSecond]=true
      [signUpSecond]=true>
    </shared-navbar-unauth-component>
    <div class="clear"></div>
    <div class="banner-title d_flex flex_wrap">
      <div class="flex_1">
        <div class="tagline">
          <!-- <h2>Find Your Path</h2> -->
          <h2>Our career center is designed to boost graduate and labour market outcomes for post-secondary institutions. </h2>
        </div>
        <button
          class="btn-peersview-primary btn-peersview-md peersview-font-weigth-bold" 
          [routerLink]="['/contact-us']">Get Started</button>
      </div>
      <div class="flex_1 text-center">
        <div class="img-wrapper">
          <img class="main-image" src="https://res.cloudinary.com/peersview-com/image/upload/v1584475999/chris-benson-yx-iJFybOBQ-unsplash_njm5jp.jpg"/>
          <img class="sub-image1" src="https://res.cloudinary.com/peersview-com/image/upload/v1584475969/naassom-azevedo-Q_Sei-TqSlc-unsplash_xhwc5i.jpg"/>
          <img class="sub-image2" src="https://res.cloudinary.com/peersview-com/image/upload/v1584475926/priscilla-du-preez-nF8xhLMmg0c-unsplash_1_psoq6w.jpg"/>
        </div>
      </div>
  </div>
</div>