<div class="index-trending-now-page-component">
  <div class="container">
    <div class="d_flex flex_wrap">
      <div class="flex_1 trending-text">
        <h3 class="title-header">Jobs</h3>
        <h2 class="title">Explore Potential Career Options. And Find The Ideal Jobs For You!</h2>
        <div class="innter-container">
          <span class="icon-wrapper">
            <img src="https://res.cloudinary.com/peersview-com/image/upload/v1584688419/wallet-line-1_f01p3q.svg"/>
          </span>
          <span><strong>100,000 + Jobs Available </strong><br>Find relevant co-op and graduate opportunities that match your interests and career preferences!</span>
        </div>
        <div class="innter-container">
          <span class="icon-wrapper">
            <img src="https://res.cloudinary.com/peersview-com/image/upload/v1584688364/share-circle-line_s8zjlf.svg"/>
          </span>
          <span><strong>Job Profiles</strong><br> Get a wider view on career paths
          you are interested in, and discover the qualifications,
        experience and skills you need for them.</span>
        </div>
        <div class="innter-container">
          <span class="icon-wrapper">
            <img src="https://res.cloudinary.com/peersview-com/image/upload/v1584688361/compass-discover-line_hcp2au.svg"/>
          </span>
          <span><strong>Get Discovered: </strong><br> Introduce yourself with a profile that highlights your unique personality skills and experience. To get noticed by employers seeking new talents in your field.</span>
        </div>
      </div>
      <div class="flex_1 trending-image">
        <img style="width: 100%;" src="https://res.cloudinary.com/peersview-com/image/upload/v1588155479/peersview_image_tewutp.jpg"/>
      </div>
      </div>
      <div class="hire-text">
        <button
        class="btn-peersview-primary btn-peersview-md-cust peersview-font-weigth-bold"
        [routerLink]="['/jobs']" >Explore the Jobs > > </button>
       </div>
  </div>
</div>
