<div class="index-leisure-page-component">
  <div class="container">
    <div class="d_flex flex_wrap_reverse">
      <div class="flex_1 trending-image">
        <img style="width: 100%;" src="https://res.cloudinary.com/peersview-com/image/upload/v1584633708/undraw_Graduation_ktn0_h8ruwx.png"/>
      </div>
      <div class="flex_1 trending-text">
        <h3 class="title-header">Career Development</h3>
        <h2 class="title">Find Scholarships or Professional Qualifications</h2>
        <div class="innter-container">
          <span class="icon-wrapper">
            <img src="https://res.cloudinary.com/peersview-com/image/upload/v1584688361/file-list-3-line_u3it0j.svg"/>
          </span>
          <span><strong>Course Search </strong><br> Find all the extra training or qualifications you need to excel in your chosen career.</span>
        </div>
        <div class="innter-container">
          <span class="icon-wrapper">
            <img src="https://res.cloudinary.com/peersview-com/image/upload/v1584688364/search-eye-line_ealt08.svg"/>
          </span>
          <span><strong>Find and Compare</strong><br> Postgraduate Scholarships grants, fellowships and other student funding Worldwide.</span>
        </div>
        <div class="innter-container">
          <span class="icon-wrapper">
            <img src="https://res.cloudinary.com/peersview-com/image/upload/v1584688364/send-plane-line_zl804t.svg"/>
          </span>
          <span><strong>Track Progress</strong><br> Save and manage the jobs, courses, and scholarships you have applied for.</span>
        </div>
      </div>
    </div>

  <div class="testomonial-section">
    <h2 class="title">WHY JOIN US?</h2>
    <p class="sub-title">People are using Peersview to connect with like-minded peers, support each other, showcase themselves to potential employers, discover unique job opportunities, and develop their employability/ career preparedness.</p>



    <div class="items-wrapper hidden-xs hidden-sm">

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="col-md-4">
              <div class="item1 flex_1">
                <div class="item-content flex_1">
                  <span>
                    <img class="img-class" src="https://res.cloudinary.com/peersview-com/image/upload/v1589081354/Lisa_M_xxl4om.jpg"/>
                  </span>
                  <strong><div class="rating">Lisa M </div></strong>

                </div>
                <div>
                  <span>"Peersview improved my job application efficiency. As a student, my goal was to work with machine learning, but finding domain-specific opportunities was challenging. Peersview matched me with the opportunities that were a good fit for my experience and education."</span>
                </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="item1 flex_1">
              <div class="item-content flex_1">
                <span>
                  <img class="img-class" src="https://res.cloudinary.com/peersview-com/image/upload/v1589081355/Sam_Cook_cfuwdm.jpg"/>
                  <strong>Sam Cook</strong>
                </span>
              </div>
              <div>
                <span>"I got my current job through Peersview. I was contacted by a recruiter who saw my profile and felt I was a perfect fit for the job."
                </span>
              </div>
            </div>
         </div>
          <div class="col-md-4">

            <div class="item1 flex_1">
              <div class="item-content flex_1">
                <span>
                  <img class="img-class" src="https://res.cloudinary.com/peersview-com/image/upload/v1589081302/Dami_oyepitan_umj6xn.jpg"/>
                  <strong>Dami Oyepitan</strong>
                </span>
              </div>
              <div>
                <span>"What I found very helpful were the community and networking aspects of Peersview. I was able to find industry events related to my career field, and it was instrumental in helping me establishing contact with industry professionals, one of which eventually became my mentor."</span>
              </div>
            </div>
            </div>
          </div>

           <div class="item">
            <div class="col-md-4">

              <div class="item1 flex_1">
                <div class="item-content">
                  <span>
                    <img class="img-class" src="https://res.cloudinary.com/peersview-com/image/upload/v1589081355/Sarah_Newman_pipc39.jpg"/>
                    <strong>Sarah Newman</strong>
                  </span>
                </div>
                <div>
                <span>"I like Peersview because I can access all of the resources and solutions I need to get a job in one place. When using Peersview I didn't need to jump from one website to another to search or apply for jobs. The whole process was seamless for me."</span>
                </div>
              </div>
                   </div>
          <div class="col-md-4">
            <div class="item1 flex_1">
              <div class="item-content">
                <span>
                  <img class="img-class" src="https://res.cloudinary.com/peersview-com/image/upload/v1589081355/Raju_K_xrmtwv.jpg"/>
                  <strong>Raju K</strong>
                </span>
              </div>
              <div>
                <span>"While using Peersview I was able to find standard resume templates , have my Resume reviewed, participate in practice video interview sessions and receive insightful feedback and recommendations in just a few minutes. Peersview gave me everything I needed to land my first graduate job."</span>
              </div>
            </div>
            </div>
          <div class="col-md-4">
          </div>
          </div>

        </div>

      </div>
    </div>
    <div class="items-wrapper hidden-md hidden-lg hidden-xl">

      <div id="myCarousel1" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel1" data-slide-to="1"></li>
          <li data-target="#myCarousel1" data-slide-to="2"></li>
          <li data-target="#myCarousel1" data-slide-to="3"></li>
          <li data-target="#myCarousel1" data-slide-to="4"></li>
          </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
              <div class="item1 flex_1">
                <div class="item-content flex_1">
                  <span>
                    <img class="img-class" src="https://res.cloudinary.com/peersview-com/image/upload/v1589081354/Lisa_M_xxl4om.jpg"/>
                    <strong>Lisa M</strong>
                  </span>
                </div>
                <div>
                  <span>"Peersview improved my job application efficiency. As a student, my goal was to work with machine learning, but finding domain-specific opportunities was challenging. Peersview matched me with the opportunities that were a good fit for my experience and education."</span>
                </div>
          </div>
        </div>
          <div class="item">
            <div class="item1 flex_1">
              <div class="item-content flex_1">
                <span>
                  <img class="img-class" src="https://res.cloudinary.com/peersview-com/image/upload/v1589081355/Sam_Cook_cfuwdm.jpg"/>
                  <strong>Sam Cook</strong>
                </span>
              </div>
              <div>
                <span>"I got my current job through Peersview. I was contacted by a recruiter who saw my profile and felt I was a perfect fit for the job."
                </span>
              </div>
            </div>
         </div>
          <div class="item">

            <div class="item1 flex_1">
              <div class="item-content flex_1">
                <span>
                  <img class="img-class" src="https://res.cloudinary.com/peersview-com/image/upload/v1589081302/Dami_oyepitan_umj6xn.jpg"/>
                  <strong>Dami Oyepitan</strong>
                </span>
              </div>
              <div>
                <span>"What I found very helpful were the community and networking aspects of Peersview. I was able to find industry events related to my career field, and it was instrumental in helping me establishing contact with industry professionals, one of which eventually became my mentor."</span>
              </div>
            </div>
            </div>

           <div class="item">

              <div class="item1 flex_1">
                <div class="item-content">
                  <span>
                    <img class="img-class" src="https://res.cloudinary.com/peersview-com/image/upload/v1589081355/Sarah_Newman_pipc39.jpg"/>
                    <strong>Sarah Newman</strong>
                  </span>
                </div>
                <div>
                <span>"I like Peersview because I can access all of the resources and solutions I need to get a job in one place. When using Peersview I didn't need to jump from one website to another to search or apply for jobs. The whole process was seamless for me."</span>
                </div>
              </div>
                   </div>
          <div class="item">
            <div class="item1 flex_1">
              <div class="item-content">
                <span>
                  <img class="img-class" src="https://res.cloudinary.com/peersview-com/image/upload/v1589081355/Raju_K_xrmtwv.jpg"/>
                  <strong>Raju K</strong>
                </span>
              </div>
              <div>
                <span>"While using Peersview I was able to find standard resume templates , have my Resume reviewed, participate in practice video interview sessions and receive insightful feedback and recommendations in just a few minutes. Peersview gave me everything I needed to land my first graduate job."</span>
              </div>
            </div>
            </div>

        </div>

        <a class="carousel-control" href="#myCarousel1" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="carousel-control" href="#myCarousel1" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>

      </div>
    </div>

  </div>

  <div class="signup-section">
    <h2 class="title">So What Are You Waiting For?</h2>
    <button
          class="btn-peersview-primary btn-peersview-md peersview-font-weigth-bold"
          [routerLink]="['/sign-up']">SIGN UP</button>
  </div>
</div>
</div>
