<div class="contact-us-component">
  <!--nav start-->
  <div class="container">
    <shared-navbar-unauth-component
      [logo] = true
      [aboutUs]=true
      [signIn]=true>      
    </shared-navbar-unauth-component>
    <div class="content">
      <div class="header text-center">
        <h1>Contact Us</h1>
        <h3>
          We are available to provide you with more information, and answer any questions you have.
        </h3>
        <h4 class="m-peersview-yt-2">
          Please use the form below to get in touch with us.
        </h4>
        <div class="hq-detail text-center">
         <b>Peersview HQ </b><br>
            215 25 Avenue Northeast, Calgary, AB T2E 1Y2, <br>
            Canada<br>
            PO Box  31030 BRIDGELAND<br>
            Calgary AB<br>
            T2E9A3<br>
        </div>
      </div>
    </div>
  </div>
</div>