<shared-navbar-component></shared-navbar-component>
<div class="review-resume-component">
  <div class="container">
    <div class="router-items">
      <a [routerLink]="['/jobs-search']" [routerLinkActive]="'active'">Jobs Search</a>
      <a [routerLink]="['/review-resume']" [routerLinkActive]="'active'">Employability Assessment</a>
    </div>
  </div>
  <div class="container">
    <div class="review-resume-content">
      <div>
        <h3 class="review-resume-title">Review Resume</h3>
      </div>
      <hr/>
      <div>
        <p class="text-bold">
          Over 90% of large companies use Applicant Tracking Systems (ATS) 
          as a result only 30% of job applications are read and Only 2% of 
          CV’s make it past the first round.
        </p>
        <p class="text-bold">
          Let’s help you Be in the top 2%
        </p>
        <p>
          These ATS systems analyze resumes and CV to surface candidates that 
          best match the position, but qualified applicants slip through the 
          cracks. We want to BOOST YOUR INTERVIEW CHANCES by optimizing your 
          CV/Resume. 
        </p>
        <p>
          We have researched the top ATS systems and built our algorithm based 
          on their common patterns to help you get noticed. - Coming soon!
        </p>
        <p>
          Resume and cover letter optimization with tailored recommendations.
        </p>
      </div>
      <div class="m-peersview-yt-3">
        <h3 class="text-center">How it works</h3>
        <ul class="m-peersview-yt-3">
          <li>
            <p>1. Upload your Cv/Resume.</p>
          </li>
          <li>
            <p>2. Select the industry/sector you are targeting.</p>
          </li>
          <li>
            <p>3. Receive our tailored recommendations.</p>
          </li>
          <li>
            <p>4. Optimize your CV/ Resume.</p>
          </li>
          <li>
            <p>5. Practice Aptitude tests. </p>
          </li>
          <li>
            <p>6. Take a personality test. </p>
          </li>
        </ul>
      </div>
      <div class="m-peersview-yt-3">
        <h3 class="text-center">The result</h3>
        <div class="m-peersview-yt-3">
          <p class="text-bold">Effortlessly build a job-worthy resume that gets you hired faster.</p>
          <p class="text-bold m-peersview-yt-2">Demand attention</p>
          <p>Stand out from the herd of job applicants, Get noticed; get hired.</p>
          <p class="text-bold m-peersview-yt-2">Job-winning content</p>
          <p>
            We give you expert tips on how to improve your CV/ Resume, the core skills 
            required and online courses you can take to improve your competency. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
