<div class="about-us-index-page-component">
  <div class="container">
    <shared-navbar-unauth-component
      [logo]=true
      [isLogoBlue]=true
      [blogSecond]=true
      [pressSecond]=true
      [signIn]=true>
    </shared-navbar-unauth-component>
    <div 
      class="row contents" >
      <div 
        class="col-md-5">
        <div 
          class="row peersview-label">
          We Are Peersview
        </div>
        <div 
          class="row video-label-details">
          <div 
            class="col-md-3 col-xs-2 dot">
            <div 
              class="text-center play-mini">
            </div>
          </div>
          <div 
            class="col-md-7 col-xs-7 video-label">Watch the Video to learn more about us
          </div>
          <div class="col-md-3 col-xs-3 arrow-left">
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <video  
          class="video-player" 
          src="https://res.cloudinary.com/peersview-com/video/upload/v1586315409/Peersview_video_abkp8h.mp4" 
          controls>
        </video>
      </div>
    </div>
  </div>
</div>