<div class="mock-interview-component">
  <div

      class="align-items-center">
      <div>
        <a class="back-btn" [routerLink]="['/job/career-resources/finance']">
          <i class="material-icons">arrow_back</i>
          Finance
      </a>
      </div>

</div><br>


    <div class="container">
        <div class="d_flex valign-center flex_wrap">
            <div class="col-md-5">
                <div class="filter-wrapper">
                    <div class="filter-item">
                        <select class="custom-field">
                            <option  selected><p>Career/Job Role</p></option>
                            <option ><p>Financial Analyst</p></option>
                        </select>
                        <a><i class="material-icons">search</i></a>
                    </div>
                </div>
                <div>
                    <div class="link-preview-1">
                        <div class="link-area">
                            <cl-image class="post-image"
                        public-id="avatar"
                        >
                        <cl-transformation width="50" height="50" radius="max" gravity="custom" crop="thumb">
                        </cl-transformation>
                      </cl-image>&nbsp;&nbsp;<strong>Sarah McDaniel</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a >View Profile</a><br>
                        <p>sarahmc@gmail.com</p>
                        </div>
                    </div>

                    <h2>Interview Questions</h2>
                    <div><p>
                        1. What interest you in finacial analyst?
                    </p></div>
                    <div><p>
                        2. What is your ideal work environment?
                    </p></div>
                    <div><p>
                        3. What does team work mean to you?
                    </p></div>
                    <div><p>
                        4. What do you like to do in your free time?
                    </p></div>
                    <div><p>
                        5. How do you describe your previous co-workers?
                    </p></div>
                    <br><br>
                    <h2>Overall Ratings</h2>
                    <div><p>
                        Team Rating | 5 of 5
                    </p>
                    </div>
                    <div>
                        <i class="material-icons star green-fill">star</i>
                        <i class="material-icons star green-fill">star</i>
                        <i class="material-icons star green-fill">star</i>
                        <i class="material-icons star green-fill">star</i>
                        <i class="material-icons star green-fill">star</i>

                    </div>
                    <br>
                    <div><p>
                        Your Interview Rating | 5 of 5
                    </p></div>
                    <div>
                        <i class="material-icons star green-fill">star</i>
                        <i class="material-icons star green-fill">star</i>
                        <i class="material-icons star green-fill">star</i>
                        <i class="material-icons star green-fill">star</i>
                        <i class="material-icons star green-fill">star</i>

                    </div>

                </div>
            </div>
             <div class="col-md-7">
                <iframe [class.thumbnail]="thumbnail" [src]="safeSrc" width="520" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen
                allowfullscreen></iframe>
              <div>
                  <p>1. What interest you about Financial analyst?</p>
              </div>
              <br><br>
              <div>
                <h2>Ratings</h2>
                <div class="link-preview-1">
                    <div class="link-area">
                        <cl-image class="post-image"
                    public-id="avatar"
                    >
                    <cl-transformation width="50" height="50" radius="max" gravity="custom" crop="thumb">
                    </cl-transformation>
                  </cl-image>&nbsp;&nbsp;<strong>Anthony Holland</strong> &nbsp;&nbsp;
                    <i class="material-icons star green-fill">star</i>
                    <i class="material-icons star green-fill">star</i>
                    <i class="material-icons star green-fill">star</i>
                    <i class="material-icons star green-fill">star</i>
                    <i class="material-icons star green-fill">star</i>


                    <div class="descriptions">
                          <div class="og-description">She has great knowlegde o the industry.</div>
                        </div>
                      </div>
                </div>
                <hr>
                <div class="link-preview-1">
                    <div class="link-area">
                        <cl-image class="post-image"
                    public-id="avatar"
                    >
                    <cl-transformation width="50" height="50" radius="max" gravity="custom" crop="thumb">
                    </cl-transformation>
                  </cl-image>&nbsp;&nbsp;<strong>Randy Willision </strong>&nbsp;&nbsp;
                  <i class="material-icons star green-fill">star</i>
                  <i class="material-icons star green-fill">star</i>
                  <i class="material-icons star green-fill">star</i>
                  <i class="material-icons star green-fill">star</i>
                  <i class="material-icons star green-fill">star</i>

                    <div class="descriptions">
                          <div class="og-description">I like her ideas on how we can optimize our infrastructure.</div>
                        </div>
                      </div>
                </div>
                <hr>
                <div class="link-preview-1">
                    <div class="link-area">
                        <cl-image class="post-image"
                    public-id="avatar"
                    >
                    <cl-transformation width="50" height="50" radius="max" gravity="custom" crop="thumb">
                    </cl-transformation>
                  </cl-image>&nbsp;&nbsp;<strong>Louis Diaz </strong>&nbsp;&nbsp;
                  <i class="material-icons star green-fill">star</i>
                  <i class="material-icons star green-fill">star</i>
                  <i class="material-icons star green-fill">star</i>
                  <i class="material-icons star green-fill">star</i>
                  <i class="material-icons star green-fill">star</i>

                    <div class="descriptions">
                          <div class="og-description">I agree! I think she'd fit in great here.</div>
                        </div>
                      </div>
                </div>

            </div>

            </div>
        </div>
    </div>
</div>
