<div class="job-sample-resume-component ">
  <div class="top-section">
    <div class="profile-image">
      <img
        src="https://res.cloudinary.com/peersview-com/image/upload/v1587555389/markus-winkler-7iSEHWsxPLw-unsplash_wshvqx.jpg" />
      <h1>Sample Resume</h1>
    </div>
    <a class="back" [routerLink]="['/job-professional/career-resources/finance']">
      <i class="material-icons">arrow_back</i>
      Finance
    </a>
  </div>
  <div class="container">
    <div Class="first-title">
      <p><u>Types Of Resume Format </u></p>
      <p>Download Samples</p>
    </div>
    <hr>
    <div class="resume-type">

      <h2>Types Of Resume Format</h2>
      <p>There are three types of resume to choose from in your job search. They Shape your first impression
        and determine the way your
        <br>
        <br>
        Fugit, repellendus alias? Dolore facilis autem dolores quos nostrum esse, fugiat dolorem tempore quod qui
        inventore? Asperiores, eos. Placeat quibusdam a temporibus nulla.</p>
      <br>
      <h4>There Are Three Comman Resume Formats</h4>
      <br>
      <h5>Chronological</h5>
      <p>Classic Format that list your work Experience in order , Starting with the most recent</p>

      <h5>Functional</h5>
      <p>Emphasizes Qualification and Accomplishments instead of specific jobs. but isn't recommended
      </p>

      <h5>Hybrid</h5>
      <p>Modern formats where skills and highlights go at the top before detailed work history
      </p>
    </div>


    <div>
      <h2>Chronological Resume Format</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Ex pariatur reiciendis, sit ad totam eum voluptas unde tempore voluptatum nisi tenetur tempora reprehenderit,
        laboriosam quibusdam veniam accusantium ut natus sapiente numquam hic magni dolores odit neque blanditiis!
        Laboriosam a,
        aliquid nemo quas eos, necessitatibus explicabo provident quaerat quibusdam id, animi in veniam quia.
        Consectetur cupiditate dolor voluptatibus necessitatibus quas officiis maiores perspiciatis? Quia,
        <br><br>
        sit doloremque ullam corporis quasi commodi soluta inventore eius cum a voluptas! Sint officiis repellat dolorem
        sed beatae quibusdam dolorum sunt tempora, quos earum. Molestiae doloremque eius voluptatem illo, laudantium
        tempore libero hic iste ut nesciunt officiis reiciendis amet quae animi repellat recusandae corrupti quod beatae
        nobis pariatur soluta maiores, cumque eligendi nemo. Consequatur perspiciatis explicabo tempore tenetur!
        ntium delectus enim
        <br> <br>
        architecto sit quasi alias ut natus dolorem quam. Minima quis tenetur veniam ratione quasi porro soluta placeat
        omnis labore necessitatibus id ut distinctio ullam nisi quas voluptatem, accusantium quaerat earum possimus!
      </p>

    </div>
    <br>
    <div class="resume-section">
      <div class="file-section file-image">
        <img src="https://res.cloudinary.com/peersview-com/image/upload/v1587706957/Cv_3_jldkhi.png"/>
        <button class="middle-btn">Download Sample</button>
        <a style="display: none;" #download6 href="src/assets/files/Finance Administration Resume.pdf"
          target="_blank"></a>
      </div>
      <div class="details">
        <h5>Contact Information</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, perspiciatis cupiditate nihil quaerat itaque
          neque ducimus quis accusamus, ratione illum harum et optio eveniet, atque accusantium est delectus. Non,
          incidunt.</p>
        <h5>Work Experience</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur culpa minima delectus facere odio
          repudiandae dicta recusandae voluptates est sit dolorum aspernatur, eveniet commodi suscipit quas deleniti
          nostrum voluptas molestiae a, aperiam necessitatibus, vel cum. Adipisci perferendis aut nihil sint reiciendis.
          Debitis consequuntur libero tempore rerum repellat doloribus, cupiditate nihil, laboriosam sequi tempora
          deserunt impedit velit quam aspernatur, cum sed!</p>
        <h5>Education</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi consequuntur libero nihil voluptates enim
          necessitatibus animi et incidunt totam. Esse illum odit neque iure dolores quasi iusto, inventore error
          explicabo temporibus nulla animi expedita laboriosam a adipisci nam sapiente. Cumque modi officiis deleniti
          molestiae minima explicabo in illum eaque, magnam quis dolores est quasi repudiandae perspiciatis fugit
          excepturi, delectus ab!</p>
      </div>
    </div>
    <br>

    <div>
      <h2>Functional Resume Format</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Ex pariatur reiciendis, sit ad totam eum voluptas unde tempore voluptatum nisi tenetur tempora reprehenderit,
        laboriosam quibusdam veniam accusantium ut natus sapiente numquam hic magni dolores odit neque blanditiis!
        Laboriosam a,
        aliquid nemo quas eos, necessitatibus explicabo provident quaerat quibusdam id, animi in veniam quia.
        Consectetur cupiditate dolor voluptatibus necessitatibus quas officiis maiores perspiciatis? Quia,
        <br><br>
        sit doloremque ullam corporis quasi commodi soluta inventore eius cum a voluptas! Sint officiis repellat dolorem
        sed beatae quibusdam dolorum sunt tempora, quos earum. Molestiae doloremque eius voluptatem illo, laudantium
        tempore libero hic iste ut nesciunt officiis reiciendis amet quae animi repellat recusandae corrupti quod beatae
        nobis pariatur soluta maiores, cumque eligendi nemo. Consequatur perspiciatis explicabo tempore tenetur!
        ntium delectus enim
        <br> <br>
        architecto sit quasi alias ut natus dolorem quam. Minima quis tenetur veniam ratione quasi porro soluta placeat
        omnis labore necessitatibus id ut distinctio ullam nisi quas voluptatem, accusantium quaerat earum possimus!
      </p>

    </div>
    <br>
    <div class="resume-section">
      <div class="file-section file-image">

        <img src="https://res.cloudinary.com/peersview-com/image/upload/v1587706957/cv_ucn6qk.png"/>
        <button class="middle-btn" (click)="download5.click()">Download Sample</button>
      
      </div>

      <div class="details">
        <h5>Contact Information</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, perspiciatis cupiditate nihil quaerat itaque
          neque ducimus quis accusamus, ratione illum harum et optio eveniet, atque accusantium est delectus. Non,
          incidunt.</p>
        <h5>Qualification</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur culpa minima delectus facere odio
          repudiandae dicta recusandae voluptates est sit dolorum aspernatur, eveniet commodi suscipit quas deleniti
          nostrum voluptas molestiae a, aperiam necessitatibus, vel cum. Adipisci perferendis aut nihil sint reiciendis.
          Debitis consequuntur libero tempore rerum repellat doloribus, cupiditate nihil, laboriosam sequi tempora
          deserunt impedit velit quam aspernatur, cum sed!</p>
        <h5>Skills</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi consequuntur libero nihil voluptates enim
          necessitatibus animi et incidunt totam. Esse illum odit neque iure dolores quasi iusto, inventore error
          explicabo temporibus nulla animi expedita laboriosam a adipisci nam sapiente. Cumque modi officiis deleniti
          molestiae minima explicabo in illum eaque, magnam quis dolores est quasi repudiandae perspiciatis fugit
          excepturi, delectus ab!</p>

        <h5>Additional Section</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi consequuntur libero nihil voluptates enim
          necessitatibus animi et incidunt totam. Esse illum odit neque iure dolores quasi iusto, inventore error
          explicabo temporibus nulla animi expedita laboriosam a adipisci nam sapiente. Cumque modi officiis deleniti
          molestiae minima explicabo in illum eaque, magnam quis dolores est quasi repudiandae perspiciatis fugit
          excepturi, delectus ab!</p>

        <h5>Professional Experience</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi consequuntur libero nihil voluptates enim
          necessitatibus animi et incidunt totam. Esse illum odit neque iure dolores quasi iusto, inventore error
          explicabo temporibus nulla animi expedita laboriosam a adipisci nam sapiente. Cumque modi officiis deleniti
          molestiae minima explicabo in illum eaque, magnam quis dolores est quasi repudiandae perspiciatis fugit
          excepturi, delectus ab!</p>

        <h5>Education</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi consequuntur libero nihil voluptates enim
          necessitatibus animi et incidunt totam. Esse illum odit neque iure dolores quasi iusto, inventore error
          explicabo temporibus nulla animi expedita laboriosam a adipisci nam sapiente. Cumque modi officiis deleniti
          molestiae minima explicabo in illum eaque, magnam quis dolores est quasi repudiandae perspiciatis fugit
          excepturi, delectus ab!</p>
      </div>
    </div>

    <br>
    <div>
      <h2>Hybrid Resume Format</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Ex pariatur reiciendis, sit ad totam eum voluptas unde tempore voluptatum nisi tenetur tempora reprehenderit,
        laboriosam quibusdam veniam accusantium ut natus sapiente numquam hic magni dolores odit neque blanditiis!
        Laboriosam a,
        aliquid nemo quas eos, necessitatibus explicabo provident quaerat quibusdam id, animi in veniam quia.
        Consectetur cupiditate dolor voluptatibus necessitatibus quas officiis maiores perspiciatis? Quia,
        <br><br>
        sit doloremque ullam corporis quasi commodi soluta inventore eius cum a voluptas! Sint officiis repellat dolorem
        sed beatae quibusdam dolorum sunt tempora, quos earum. Molestiae doloremque eius voluptatem illo, laudantium
        tempore libero hic iste ut nesciunt officiis reiciendis amet quae animi repellat recusandae corrupti quod beatae
        nobis pariatur soluta maiores, cumque eligendi nemo. Consequatur perspiciatis explicabo tempore tenetur!
        ntium delectus enim
        <br> <br>
        architecto sit quasi alias ut natus dolorem quam. Minima quis tenetur veniam ratione quasi porro soluta placeat
        omnis labore necessitatibus id ut distinctio ullam nisi quas voluptatem, accusantium quaerat earum possimus!
      </p>

    </div>
    <br>
    <div class="resume-section">
      <div class="file-section file-image">
         <img src="https://res.cloudinary.com/peersview-com/image/upload/v1587706957/cv_2_onpggp.png">
        <button class="middle-btn">Download Sample</button>
        <a style="display: none;" #download4 href="src/assets/files/MBA Finance Accounting Resume.pdf"
          target="_blank"></a>
      </div>
      <div class="details">
        <h5>Contact Information</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, perspiciatis cupiditate nihil quaerat itaque
          neque ducimus quis accusamus, ratione illum harum et optio eveniet, atque accusantium est delectus. Non,
          incidunt.</p>


        <h5>Skills</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi consequuntur libero nihil voluptates enim
          necessitatibus animi et incidunt totam. Esse illum odit neque iure dolores quasi iusto, inventore error
          explicabo temporibus nulla animi expedita laboriosam a adipisci nam sapiente. Cumque modi officiis deleniti
          molestiae minima explicabo in illum eaque, magnam quis dolores est quasi repudiandae perspiciatis fugit
          excepturi, delectus ab!</p>

        <h5>Summary Statement</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi consequuntur libero nihil voluptates enim
          necessitatibus animi et incidunt totam. Esse illum odit neque iure dolores quasi iusto, inventore error
          explicabo temporibus nulla animi expedita laboriosam a adipisci nam sapiente. Cumque modi officiis deleniti
          molestiae minima explicabo in illum eaque, magnam quis dolores est quasi repudiandae perspiciatis fugit
          excepturi, delectus ab!
          <br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi consequuntur libero nihil voluptates enim
          necessitatibus animi et incidunt totam. Esse illum odit neque iure dolores quasi iusto, inventore error
          explicabo temporibus nulla animi expedita laboriosam a adipisci nam sapiente. Cumque modi officiis deleniti
          molestiae minima explicabo in illum eaque, magnam quis dolores est quasi repudiandae perspiciatis fugit
          excepturi, delectus ab!
          <br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi consequuntur libero nihil voluptates enim
          necessitatibus animi et incidunt totam. Esse illum odit neque iure dolores quasi iusto, inventore error
          explicabo temporibus nulla animi expedita laboriosam a adipisci nam sapiente. Cumque modi officiis deleniti
          molestiae minima explicabo in illum eaque, magnam quis dolores est quasi repudiandae perspiciatis fugit
          excepturi, delectus ab!
        </p>

        <h5>Professional Experience</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi consequuntur libero nihil voluptates enim
          necessitatibus animi et incidunt totam. Esse illum odit neque iure dolores quasi iusto, inventore error
          explicabo temporibus nulla animi expedita laboriosam a adipisci nam sapiente. Cumque modi officiis deleniti
          molestiae minima explicabo in illum eaque, magnam quis dolores est quasi repudiandae perspiciatis fugit
          excepturi, delectus ab!</p>

        <h5>Education</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi consequuntur libero nihil voluptates enim
          necessitatibus animi et incidunt totam. Esse illum odit neque iure dolores quasi iusto, inventore error
          explicabo temporibus nulla animi expedita laboriosam a adipisci nam sapiente. Cumque modi officiis deleniti
          molestiae minima explicabo in illum eaque, magnam quis dolores est quasi repudiandae perspiciatis fugit
          excepturi, delectus ab!</p>

      </div>
    </div>
  </div>
</div>
