<div class="profile-accomplishments">
	
	<div class="accomplishments hidden-xs">
		<span>
			<strong>Accomplishments</strong>
		</span>
		<div class="row">
			<div class="col-sm-12 accomplishments-data">
				<span class="peersview-secondary-color font-size">{{user?.accomplishments}}</span>
			</div>
		</div>
	</div>
	<div class="profile-bottom-section">
		<div class="acc-section" *ngIf="user.userType.name !== 'Ex-student'">
			<div class="media-pictures text-center">
				<div class="gpa-icon"></div>
				<span *ngIf="isUserProfile" class="info-label">
					Current GPA
				</span>
				<span *ngIf="!isUserProfile" class="info-label">
					Current GPA
				</span>
				<div 
					class="edit-icon material-icons color-purple profile-add-icon"
					*ngIf="isUserProfile" 
					(click)="openAddGpaDialog()">
				</div>
				<!-- <i class="material-icons color-purple profile-add-icon" *ngIf="isUserProfile" (click)="openAddGpaDialog()">{{gpa ? 'create' : 'add'}}</i> -->
			</div>
			<div *ngIf="gpa" class="experience-item">
				<p class="gpa-text">{{gpa}}</p>
			</div>
		</div>

		<div class="acc-section">
			<div class="media-pictures text-center">
				<div class="education-icon"></div>
				<span *ngIf="isUserProfile" class="info-label">
					Education
				</span>
				<span *ngIf="!isUserProfile" class="info-label">
					Education
				</span>
				<div 
					class="edit-icon material-icons color-purple profile-add-icon"
					*ngIf="isUserProfile" 
					(click)="openAddEducationDialog()">
				</div>
				<!-- <i class="material-icons color-purple profile-add-icon" (click)="openAddEducationDialog()" *ngIf="isUserProfile">add</i> -->
			</div>
			<div *ngFor="let education of educations" class="experience-item">
				<p class="company-name">{{education.name}}</p>
				<p class="company-role">{{education.level}}</p>
				<p class="company-role">{{education.major}}</p>
				<p class="company-duration-mobile hidden-md hidden-lg ">{{education.from | experienceDate}} - {{education.to | experienceDate}}</p>
				<p class="company-duration profile-update-icon hidden-xs hidden-sm">{{education.from | experienceDate}} - {{education.to | experienceDate}}</p>
				<i class="material-icons color-purple info-edit-icon" (click)="openUpdateEducationDialog(education)" *ngIf="isUserProfile">create</i>
				<hr>
			</div>
		</div>

		<div class="acc-section">
			<div class="media-pictures text-center">
				<div class="experience-icon"></div>
				<span *ngIf="isUserProfile" class="info-label">
					Work & Volunteer Experience
				</span>
				<span *ngIf="!isUserProfile" class="info-label">
					Work & Volunteer Experience
				</span>
				<div 
					class="edit-icon material-icons color-purple profile-add-icon"
					*ngIf="isUserProfile" 
					(click)="openAddExperienceDialog()">
				</div>
				<!-- <i class="material-icons color-purple profile-add-icon" (click)="openAddExperienceDialog()" *ngIf="isUserProfile">add</i> -->
			</div>
			<div *ngFor="let experience of workExperiences" class="experience-item">
				<p class="company-name">{{experience.name}}</p>
				<p class="company-role">{{experience.role}}</p>
				<p class="company-duration-mobile hidden-md hidden-lg">{{experience.from | experienceDate}} - {{experience.to | experienceDate}}</p>
				<p class="company-role">{{experience.skill}}</p>
				<p class="company-role">{{experience.achievement}}</p>
				<p class="company-duration profile-update-icon hidden-xs hidden-sm">{{experience.from | experienceDate}} - {{experience.to | experienceDate}}</p>
				<i class="material-icons color-purple info-edit-icon" (click)="openUpdateExperienceDialog(experience)" *ngIf="isUserProfile">create</i>
				<hr>
			</div>
		</div>

		<div class="acc-section">
			<div class="media-pictures text-center">
				<div class="trophy-icon"></div>
				<span *ngIf="isUserProfile" class="info-label">
					Awards / Extracurriculars
				</span>
				<span *ngIf="!isUserProfile" class="info-label">
					Awards / Extracurriculars
				</span>
				<div 
					class="edit-icon material-icons color-purple profile-add-icon"
					*ngIf="isUserProfile" 
					(click)="openAddAwardsDialog()">
				</div>
				<!-- <i class="material-icons color-purple profile-add-icon" (click)="openAddAwardsDialog()" *ngIf="isUserProfile">add</i> -->
			</div>
			<div *ngFor="let award of awards" class="experience-item">
				<p class="company-name">{{award.position}}</p>
				<p class="company-role">{{award.organization}}</p>
				<p class="company-duration-mobile hidden-md hidden-lg">{{award.from | experienceDate}} - {{award.to | experienceDate}}</p>
				<p class="company-duration profile-update-icon hidden-xs hidden-sm">{{award.from | experienceDate}} - {{award.to | experienceDate}}</p>
				<p class="company-description">{{award.description}}</p>
				<i class="material-icons color-purple info-edit-icon" (click)="openUpdateAwardsDialog(award)" *ngIf="isUserProfile">create</i>
				<hr>
			</div>
		</div>

		<div class="acc-section">
			<div class="collections text-center">
				<div class="skills-icon"></div>
				<span *ngIf="isUserProfile" class="info-label">
					Skills
				</span>
				<span *ngIf="!isUserProfile" class="info-label">
					Skills
				</span>
				<div 
					class="edit-icon material-icons color-purple profile-add-icon"
					*ngIf="isUserProfile" 
					(click)="openAddSkillsDialog()">
				</div>
				<!-- <i class="material-icons color-purple profile-add-icon" (click)="openAddSkillsDialog()" *ngIf="isUserProfile">add</i> -->
			</div>
			<div class="skills-wrapper">
				<span *ngFor="let skill of userSkills" class="skill-item">{{skill.name}}</span>
			</div>
		</div>
	</div>
</div>