<div class="our-network-page-component">
  <div class="leisure-block">
    <div class="container">
      <div class="row">
        <div class="header-block">
          <div class="header-block text-center">
            <h1>Our Partner Network</h1>
          </div>

          <div class="col-md-12 text-center">
            <div class="first-image">
              <div class="img-item">
                <img src="https://res.cloudinary.com/peersview-com/image/upload/v1583221209/platform_calgary_qyfhe5.png"/>
              </div>
              <div class="img-item">
                <img src="https://res.cloudinary.com/peersview-com/image/upload/v1589905055/SAIT_PLP_Logo_tnud14.jpg"/>
              </div>
             <div class="img-item">
                <img src="https://res.cloudinary.com/peersview-com/image/upload/v1583221292/planet_hatch_ef6ag5.png"/>
              </div>
            </div>
            <div class="row second-image">
              <div class="img-item">
                <img src="https://res.cloudinary.com/peersview-com/image/upload/v1583221258/MaRS_district_logo_ivbbp5.png"/>
              </div>
              <div class="img-item">
                <img src="https://res.cloudinary.com/peersview-com/image/upload/v1583221087/Liverpool_Hope_university_hjtbza.png"/>
              </div>
              <div class="img-item">
                <img src="https://res.cloudinary.com/peersview-com/image/upload/v1583221376/Afritech_XYz_tzp8j1.jpg"/>
              </div>
              <div class="img-item">
                <img src="https://res.cloudinary.com/peersview-com/image/upload/v1583221602/AWS_ttmmxj.png"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
