<div class="container">
  <div>
    <h3>Typical Working Conditions</h3>
  </div>
  <div>
    <ul class="list-group list-group-flush">
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;Using e-mail.</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;Sitting.</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;Working indoors in environmentally controlled conditions.</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;The importance of being accurate or exact.</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;Working with a group or team.</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;Meeting strict deadlines.</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;High levels of competition.</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;Freedom to make decisions without supervision.</span>
        </div>
      </li>
    </ul>

  </div>

</div>