<div class="career-community-component">
	<div class="container">
		<h2>What We Do</h2>
		<h4>
			Our solution provides a combination of tools and resources that   help   students and graduates stand out to employers.
		</h4>
		<div class="items-wrapper d_flex flex_wrap">
		  <div class="item flex_1">
			  <div class="item-content">
				  <span>
					  <img src="https://res.cloudinary.com/peersview-com/image/upload/v1584688417/search-line-1_hijqlb.svg"/>
				  </span>
				  <p class="sub-title">Improve career-readiness</p>
				  <p class="item-description">Optimize your students career readiness with unique tools and resources.</p>
			  </div>
		  </div>
		  <div class="item flex_1">
			  <div class="item-content">
				  <span>
					  <img src="https://res.cloudinary.com/peersview-com/image/upload/v1584688416/Path_30_wpfgwq.svg"/>
				  </span>
				  <p class="sub-title">Virtual Career Fairs</p>
				  <p class="item-description">An online event experience that combines webinars and networking. To connect Students with Employers seeking talent.</p>
			  </div>
		  </div>
		  <div class="item flex_1">
			  <div class="item-content">
				  <span>
					  <img src="https://res.cloudinary.com/peersview-com/image/upload/v1584688414/arrow-up-circle-line_ekcqim.svg"/>
				  </span>
				  <p class="sub-title">Increase Hiring</p>
				  <p class="item-description">Get more students hired by connecting them to millions of open opportunities.</p>
			  </div>
		  </div>
		  <div class="item flex_1">
			  <div class="item-content">
				  <span>
					  <img src="https://res.cloudinary.com/peersview-com/image/upload/v1584688414/group-line_vhurgc.svg"/>
				  </span>
				  <p class="sub-title">A students  and Alumni Network</p>
				  <p class="item-description">A community to drive connections between current students and the alumni network.</p>
			  </div>
		  </div>
		</div>
		<div class="row">
			<button
			class="btn-peersview-primary btn-peersview-md peersview-font-weigth-bold button" 
			[routerLink]="['/contact-us']">Request a Demo</button>
		</div>
	</div>
</div>