<!-- <shared-navbar-component [active]="'job'"></shared-navbar-component> -->
<div class="job-career-resources-component">
    <div class="top-section">
        <div class="profile-image">
            <img src="https://res.cloudinary.com/peersview-com/image/upload/v1584475381/tim-van-der-kuip-CPs2X8JYmS8-unsplash_vjnv14.jpg"/>
            <div class="backdrop"></div>
            <h1>Market Outlook</h1>
        </div>
        <a class="back" [routerLink]="['/job']">
            <i class="material-icons">arrow_back</i>
            Career Center
        </a>
    </div>
    <div class="container">
        <!-- <div class="filter-wrapper">
            <div class="filter-item">
                <select class="custom-field">
                    <option disabled selected>Career Interests</option>
                </select>
                <a><i class="material-icons">search</i></a>
            </div>
            <div class="filter-item">
                <select class="custom-field">
                    <option disabled selected>Career Paths</option>
                </select>
                <a><i class="material-icons">search</i></a>
            </div>
            <div class="filter-item">
                <input class="custom-field" placeholder="Career"/>
                <a><i class="material-icons">search</i></a>
            </div>
        </div> -->
        <div class="services">
            <a class="item" *ngFor="let resource of careerResources">
                <div class="card" >
                    <img [src]="resource.image"/>
                    <!-- <div class="backdrop"></div> -->
                   <div class="resourcecontent">
                   <div class="resource-inr-part">
                    <h5>{{resource.title}}</h5>
                    <span class="withemplise">With emphasis on</span>
                    <p>Project Management / Project Management...</p>
                   </div>
                    <a href="javascript:;" [routerLink]="['/job/career-resources', resource.id]">View Details <i class="fa fa-long-arrow-right"></i></a>
                   </div>
                </div>
            </a>
        </div>
    </div>
</div>