<div class="container">
  <div>
    <h3>Are you familiar with....</h3>
  </div>
  <div>
    <h5>Typical work tasks</h5>
    <ul class="list-group list-group-flush">
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="check1">
          <span>&nbsp;Researching issues related to the environment or sustainable business practices.</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="check2">
          <span>&nbsp;Analyzing business or financial data.</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="check3">
          <span>&nbsp;Analyzing industry trends.</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="check4">
          <span>&nbsp;Analyzing market conditions or trends.</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="check5">
          <span>&nbsp;Analyzing risks related to investments in green technology.</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="check6">
          <span>&nbsp;Applying mathematical models of financial or business conditions.</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="check7">
          <span>&nbsp;Assessing risks to business operations.</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="check8">
          <span>&nbsp;Identifying strategic business investment opportunities.</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="check9">
          <span>&nbsp;Determining the value of goods or services.</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="check10">
          <span>&nbsp;Creating images of data, locations, or products.</span>
        </div>
      </li>
    </ul>

  </div>

</div>