<div *ngIf="companys">
<div class="company-card-suggested"  *ngFor="let company of companys">
  <div class="header">
    <div class="logo">
      <cl-image class="company-image"
        public-id="{{company.logo ? company.logo : 'avatar'}}">
        <cl-transformation width="50" height="50" gravity="custom">
        </cl-transformation>
      </cl-image>
      <!-- <img src="/src/assets/images/company_logo.svg" alt="LOGO"/> -->
    </div>
  </div>
  <div class="company">
    <span class="title">{{ company.company }}</span>
  </div>
  <div>
    <span>{{ company.company_bio }} </span>
  </div>
  <div class="info-wrapper d_flex m-peersview-yt-2">
    <div class="flex_1">
      <img class="icon m-peersview-xr-1" src="https://res.cloudinary.com/peersview-com/image/upload/v1585225285/job_status_component_jub2oq.png" alt="icon" />
      <span class="name">2 Jobs Available</span>
    </div>
    <div class="flex_1">
      <img class="icon m-peersview-xr-1" src="https://res.cloudinary.com/peersview-com/image/upload/v1585225325/map-pin-5-line_chaco6.svg" alt="icon" />
      <span class="name">{{ company.country }}</span>
    </div>

  </div>
  <div class="info-wrapper d_flex m-peersview-yt-2">
    <div class="flex_1">
      <img class="icon m-peersview-xr-1" src="https://res.cloudinary.com/peersview-com/image/upload/v1586409577/group-line_cxua0v.svg" alt="icon" />
      <span class="name">{{ company.company_size }}</span>
    </div>
    <div class="flex_1">
      <img class="icon m-peersview-xr-1" src="https://res.cloudinary.com/peersview-com/image/upload/v1586409414/phone-line_uxlxud.svg" alt="icon" />
      <span class="name">{{ company.company_contact }}</span>
    </div>

  </div>
  <div class="text-center tags-wrapper d_flex flex_wrap m-peersview-y-2">
    <span class="tag">{{ company.industry }}</span>
  </div>
  <div class="text-center actions">
    <a class="d_block m-peersview-y-2" (click)="showCompanyDetail(company)">View Profile</a>
  </div>
  <hr>
</div>

</div>
