<div class="alumni-profile-modal">
  <div class="modal-heading">
    <h3>Profile</h3>
    <i class="material-icons" (click)="onCancel()">clear</i>
  </div>
  <div class="modal-body ng-scope">
    <!-- <p>
      To: Monique@CC.com
    </p>
    <p>Subject: Ten Thousand Coffees</p> -->

    <h1>Should be Sarah, meet Laura!</h1>
    <div class="info"> 
      <img src="https://i.pravatar.cc/150?img=2"/>
      <h1>Laura Genk</h1>
      <p>Financial Analyst, CIBC</p>
    </div>
    <div> 
      <button class="btn-peersview-primary btn-peersview-md">Say Hello!</button>
    </div>
  </div>
  <!-- <div class="modal-footer text-center">
    <button type="button" class="btn-peersview-secondary btn-peersview-sm" (click)="onSave()">Go to profile</button>
    <button type="button" class="btn-peersview-primary btn-peersview-sm" (click)="onCancel();">Remind me later</button>
  </div> -->
</div>