<div class="profile-right-sidebar-component">
  <div class="follow-containers text-center">
    <h4 class="follow-me">Follow Me Here</h4>
    <div class="followUp-icon">
      <a class="follow-fb" href="user?.instagram_profile" target="_blank">
      </a>
      <a class="follow-twitter" href="user?.twitter_profile" target="_blank">
      </a>
      <a class="follow-in" href="https://www.linkedin.com" target="_blank">
      </a>
    </div>
  </div>
  <div class="follow-container">
    <shared-sidebar-footer-component></shared-sidebar-footer-component>
      <!-- <shared-followee-component [followees]="followees"></shared-followee-component>
    <shared-followers-component [followers]="followers"></shared-followers-component> -->
  </div>
</div>