<div class="container">
  <div>
    <h3>Are you familiar with any of these tools and technology?</h3>
  </div>
  <div>
    <h5>Accounting Software</h5>
    <ul class="list-group list-group-flush">
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;Fund accounting software</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;Intuit QuickBooks</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;Sage 50 Accounting</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;Tax software</span>
        </div>
      </li>

    </ul>


    <h5>Analytical or scientific software</h5>
    <ul class="list-group list-group-flush">
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;Analyse-it
          </span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;Data visualization software</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;Decisioneering Crystal Ball</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;Genetic algorithm software</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;IBM SPSS Statistics</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;Keypoint DataDesk</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;Mathematical software</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;Neural network modeling software
          </span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;Palisade Evolver</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;Palisade Evolver</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;Pattern recognition software</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;SAS</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;SAS JMP</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;StataCorp Stata</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;The MathWorks MATLAB</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;Ward Systems Group GeneHunter</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;Ward Systems Group NeuralShell Predictor</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;Wolfram Research Mathematica</span>
        </div>
      </li>
    </ul>


    <h5>Business intelligence and data analysis software</h5>
    <ul class="list-group list-group-flush">
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;IBM Cognos Impromptu
          </span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;MicroStrategy</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;Oracle Business Intelligence Enterprise Edition</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;Qlik Tech QlikView</span>
        </div>
      </li>
      <li>
        <div class="checkbox-item custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span>&nbsp;Tableau</span>
        </div>
      </li>
      </ul>

      <h5>Charting software</h5>
      <ul class="list-group list-group-flush">
        <li>
          <div class="checkbox-item custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span>&nbsp;Montgomery Investment Technology Utility XL         </span>
          </div>
        </li>
        <li>
          <div class="checkbox-item custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span>&nbsp;TickQuest NeoTicker</span>
          </div>
        </li>
      </ul>

      <h5>Configuration management software</h5>
      <ul class="list-group list-group-flush">
        <li>
          <div class="checkbox-item custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span>&nbsp;Perforce Helix software</span>
          </div>
        </li>
      </ul>

      <h5>Customer relationship management CRM software</h5>
      <ul class="list-group list-group-flush">
        <li>
          <div class="checkbox-item custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span>&nbsp;Salesforce software</span>
          </div>
        </li>
      </ul>
      <h5>Data base management system software</h5>
      <ul class="list-group list-group-flush">
        <li>
          <div class="checkbox-item custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span>&nbsp;Apache Hive</span>
          </div>
        </li>
        <li>
          <div class="checkbox-item custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span>&nbsp;Apache Pig</span>
          </div>
        </li>
        <li>
          <div class="checkbox-item custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span>&nbsp;Teradata Database</span>
          </div>
        </li>
      </ul>

      <h5>Data base reporting software</h5>
      <ul class="list-group list-group-flush">
        <li>
          <div class="checkbox-item custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span>&nbsp;SAP Crystal Reports</span>
          </div>
        </li>
      </ul>

      <h5>Data base user interface and query software</h5>
      <ul class="list-group list-group-flush">
        <li>
          <div class="checkbox-item custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span>&nbsp;Data entry software</span>
          </div>
        </li>
        <li>
          <div class="checkbox-item custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span>&nbsp;FileMaker Pro</span>
          </div>
        </li>
        <li>
          <div class="checkbox-item custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span>&nbsp;IBM Lotus Approach</span>
          </div>
        </li>
        <li>
          <div class="checkbox-item custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span>&nbsp;Microsoft Access</span>
          </div>
        </li>
        <li>
          <div class="checkbox-item custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span>&nbsp;Microsoft SQL Server</span>
          </div>
        </li>
        <li>
          <div class="checkbox-item custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span>&nbsp;Structured query language SQL</span>
          </div>
        </li>
        <li>
          <div class="checkbox-item custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span>&nbsp;Yardi</span>
          </div>
        </li>
      </ul>

      <h5>Development environment software</h5>
      <ul class="list-group list-group-flush">
        <li>
          <div class="checkbox-item custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span>&nbsp;Microsoft Visual Basic</span>
          </div>
        </li>
      </ul>

      <h5>Document management software</h5>
      <ul class="list-group list-group-flush">
        <li>
          <div class="checkbox-item custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span>&nbsp;Microsoft Office SharePoint Server MOSS</span>
          </div>
        </li>
      </ul>

      <h5>Electronic mail software</h5>
      <ul class="list-group list-group-flush">
        <li>
          <div class="checkbox-item custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span>&nbsp;IBM Notes</span>
          </div>
        </li>
        <li>
          <div class="checkbox-item custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span>&nbsp;Microsoft Exchange Server</span>
          </div>
        </li>
        <li>
          <div class="checkbox-item custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span>&nbsp;Microsoft Outlook</span>
          </div>
        </li>
      </ul>
      <h5>Enterprise resource planning ERP software</h5>
      <ul class="list-group list-group-flush">
        <li>
          <div class="checkbox-item custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span>&nbsp;Microsoft Dynamics</span>
          </div>
        </li>
        <li>
          <div class="checkbox-item custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span>&nbsp;Microsoft Dynamics GP</span>
          </div>
        </li>
        <li>
          <div class="checkbox-item custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span>&nbsp;NetSuite ERP</span>
          </div>
        </li>
      </ul>

      <h5>Enterprise system management software</h5>
      <ul class="list-group list-group-flush">
        <li>
          <div class="checkbox-item custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span>&nbsp;IBM Power Systems software</span>
          </div>
        </li>
      </ul>

      <h5>Expert system software</h5>
      <ul class="list-group list-group-flush">
        <li>
          <div class="checkbox-item custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span>&nbsp;Ivorix Neurostrategy Finance</span>
          </div>
        </li>
        <li>
          <div class="checkbox-item custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span>&nbsp;Matheny Pattern Forecaster Plus</span>
          </div>
        </li>
        <li>
          <div class="checkbox-item custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span>&nbsp;NeuroSolutions for MatLab</span>
          </div>
        </li>
      </ul>

      <h5>Financial analysis software
      </h5>
      <ul class="list-group list-group-flush">
        <li>
          <div class="checkbox-item custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span>&nbsp;Advanced Portfolio Technologies Report Builder</span>
          </div>
        </li>
        <li>
          <div class="checkbox-item custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span>&nbsp;Advanced Portfolio Technologies Simulator</span>
          </div>
        </li>
      </ul>


    </div>

</div>