.profile-left-sidebar-component {
    .profile-top-section {

        padding: 5px;
        hr {
            margin-top: 5px;
            margin-bottom: 5px;
        }
        // border: 1px solid #dedede;
        .info-section {
            box-shadow: 0px 0px 10px 1px gainsboro;
        }
        .info-all {
            padding:0rem 3rem;
            font-size: 1.5rem;
            p {
                font-size: 1.5rem;
            }
        } 

        .edit-icon {
            background: url('https://res.cloudinary.com/peersview-com/image/upload/v1586920321/edit-box-line_qidgxq.svg') no-repeat;
            background-size: contain;
            height: 2.5rem;
            width: 2.5rem;
        }

        .info-item {
            display: flex;
            // line-height: 40px;
            align-items: center;
            // border-bottom: 1px solid #dedede;
            padding: 10px 0;

            .info-label {
                font-size: 16px;
                font-weight: bold;
            }



            &:last-child {
                border-bottom: none;
            }
            
            .info-icon {
                flex: 0 0 30px;
                display: flex;

                a {
                    display: flex;
                }
            }

            

            .info-action {
                display: flex;
            }

            .info-text {
                flex: 1;
                
                .grey-text {
                    color: grey;
                }

                .graduate-at {
                    margin-bottom: 0px;
                    font-size: 12px;
                }
            }

            &.about-me {
                .info-text {
                    overflow-wrap: break-word;
                    word-wrap: break-word;
                    -ms-word-break: break-all;
                    word-break: break-all;
                    word-break: break-word;
                    -ms-hyphens: auto;
                    -moz-hyphens: auto;
                    -webkit-hyphens: auto;
                    hyphens: auto;
                    line-height: 20px;
                    flex: 1;
                } 
            }
        }

    }

    .interests {
        margin-top: 20px;

        .interests-data {
            li {
              margin: 18px;
              border: 1px solid #631990;
              border-radius: 20px;
              padding: 3px;
            }
            .row {
              margin: 0;
            }
        }
    }
    
}