<div class="index-first-page-component">
  <div class="container">
    <div class="clear"></div>
    <div class="banner-title">
      <div>
        <div class="tagline">
          <h1 class="title">The Social Network For Students & Alumni</h1>
          <h4 class="sub-title">Connecting students and alumni with like minded peers and employers.</h4>
        </div>
        <div class="row  innter-container1">
          <div class="col-md-4 pad-rt"><strong>150,000+ </strong><br> Members </div>
          <div class="col-md-4 pad-rt"><strong>100,000+ </strong> <br> Jobs and Internships</div>
          <div class="col-md-4 pad-rt"><strong>$1.5M+ in </strong><br> Scholarships</div>
        </div>
        
        <button
          class="btn-peersview-primary btn-peersview-md peersview-font-weigth-bold"
          [routerLink]="['/sign-up']">SIGN UP FOR FREE</button>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
