<div class="forgot-password-component">
  <div class="forgot-password-form">
    <form #forgotPasswordForm="ngForm" (ngSubmit)="sendEmail(forgotPasswordForm.valid)">
      <h2 class="text-center">
        <div>
          <cl-image
            class="mouse-pointer"
            public-id="peersviewBrand"
            [routerLink]="['/']">
          </cl-image>
        </div>
        <div class="signin-label">Forgot Password</div>
      </h2>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon color-light-purple"><i class="material-icons">email</i></span>
          <input
            type="text"
            class="form-control"
            name="email"
            placeholder="Email"
            autocomplete="email"
            required="required"
            [(ngModel)]="email"
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn-peersview-primary btn-block btn-peersview-md">Send Email</button>
      </div>
      <div class="clearfix">
        <a class="pull-right peersview-primary-color-light" [routerLink]="'/sign-in'">Sign In</a>
      </div>
    </form>
    <div class="hint-text small">Don't have an account?
      <a
        class="sign-up-now peersview-secondary-color"
        [routerLink]="['/sign-up']">Sign-up Now!</a>
    </div>
  </div>
</div>
