<div class="employers-community-component">
	
	<div class="d_flex valign-center flex_wrap_reverse pd-bot-36">
		<div class="col-md-6 first-text">
			<h3>Find Your Future Leaders</h3>
			<p>Reach a diverse and unique talent pool of job seekers with peersview.	
			</p>
		   <button
			class="btn-peersview-primary btn-peersview-lg peersview-font-weigth-bold" 
			[routerLink]="['/sign-up']">Sign Up for Free</button>	
		</div>
		<div class="col-md-6 first-img">
		  	<img src="https://res.cloudinary.com/peersview-com/image/upload/v1585861784/Group_73_f1xcte.png"/>
		</div>
	</div>
	<hr>
  <div class="d_flex valign-center flex_wrap_reverse pd-bot-36">
		<div class="col-md-6 first-text bold-text">
			<p>Use Peersviews' broad search filters to identify hard-to-reach talent and job seekers from various groups.	
			</p>
		</div>
		<div class="col-md-6 first-img">
		  	<img src="https://res.cloudinary.com/peersview-com/image/upload/v1585860500/Mask_Group_13_ssipxq.svg"/>
		</div>
	</div>
  <div class="d_flex valign-center flex_wrap pd-bot-36">
		<div class="col-md-6 first-img">
		  	<img src="https://res.cloudinary.com/peersview-com/image/upload/v1585860500/Mask_Group_14_jxptwk.svg"/>
		</div>
		<div class="col-md-6 first-text">
			<p>Address labour shortages with direct access to an untapped pool of talents across Canada.
			</p>
		</div>
	</div>
	<div class="d_flex valign-center flex_wrap_reverse pd-bot-36">
		<div class="col-md-6 first-text">
			<p>Create Career fairs targeting students from multiple academic institutions.
			</p>
		</div>
		<div class="col-md-6 first-img">
		  <img src="https://res.cloudinary.com/peersview-com/image/upload/v1585860501/Mask_Group_15_g3xnev.svg"/>
		</div>
	</div>
	<div class="d_flex valign-center flex_wrap pd-bot-36">
		<div class="col-md-6 first-img">
		  	<img src="https://res.cloudinary.com/peersview-com/image/upload/v1585860500/Mask_Group_16_qrjvqd.svg"/>
		</div>
		<div class="col-md-6 first-text">
			<p>Stay connected with top talents.
			</p>
		</div>
	</div>

	<div class="col-md-12 text-center pd-bot-36">
		<div>	  
			<h3 class="title">How It Works</h3>
		</div>
		<div class="items-wrapper d_flex flex_wrap">
			<!-- <div class="item flex_1">
				<div class="item-content">
				  <span>
					<img src="https://res.cloudinary.com/peersview-com/image/upload/v1585860500/building-line_iudiix.svg"/>
				  </span>
				  <p class="sub-title">Create A Company Profile</p>
				  <p class="item-description">
					  Contact us to set up a company profile for your organization, provide us with details, images, and videos that describe your organization in a way that connects with Job Seekers.                        
				  </p>
				</div>
			  </div> -->
			  <div class="item flex_1">
			  <div class="item-content">
				<span>
				  <img src="https://res.cloudinary.com/peersview-com/image/upload/v1585861216/user-2-line_hmx9e2.svg"/>
				</span>
				<p class="sub-title">Create a Recruiter Account</p>
				<p class="item-description">Sign up to create a recruiter account.</p>
			  </div>
			</div>
			<div class="item flex_1">
			  <div class="item-content">
				<span>
				  <img src="https://res.cloudinary.com/peersview-com/image/upload/v1585861108/briefcase-line_finjx5.svg"/>
				</span>
				<p class="sub-title">Post Your Jobs</p>
				<p class="item-description">
					Create job postings, based on the qualifications your require for the positions.                  
				</p>
			  </div>
			</div>
		  </div>
		  <div class="items-wrapper d_flex flex_wrap">
			<div class="item flex_1">
				<div class="item-content  hidden-xs hidden-sm">
			   </div>
			  </div>
			<div class="item flex_1">
				<div class="item-content">
				  <span>
					<img src="https://res.cloudinary.com/peersview-com/image/upload/v1585861215/search-eye-line_zgkerc.svg"/>
				  </span>
				  <p class="sub-title">Review/Search For Qaulified Candidates</p>
				  <p class="item-description">
					  Review the profiles of candidates who have applied for your positions. Search for candidates who fit your requirements.
				  </p>
				</div>
			  </div>
			  <div class="item flex_1">
			  <div class="item-content">
				<span>
				  <img src="https://res.cloudinary.com/peersview-com/image/upload/v1585861108/group-line_y5plhg.svg"/>
				</span>
				<p class="sub-title">Connect With Candidates</p>
				<p class="item-description">Connect with candidates you're interested in.</p>
			  </div>
			</div>
			<div class="item flex_1">
			  <div class="item-content">
			 </div>
			</div>
		  </div>
	  </div>
	  <div class="text-center">
		<div>	  
			<h3 class="title">Explore Companies</h3>
		</div>
		<div class="col-md-12 company-wrapper d_flex flex_wrap">
			<div class="item col-md-4">
				<div class="item-content">
				  <span>
					<img src="https://dyn.talentegg.ca/companies/453/header.jpg"/>
				  </span>
				  <p class="sub-title">Bell</p>
				  </div>
			  </div>
			  <div class="item col-md-4 ">
			  <div class="item-content">
				<span>
				  <img src="https://dyn.talentegg.ca/companies/232/header.jpg"/>
				</span>
				<p class="sub-title">IBM</p>
			  </div>
			</div>
			<div class="item col-md-4 ">
			  <div class="item-content">
				<span>
				  <img src="https://dyn.talentegg.ca/companies/1205/header.png"/>
				</span>
				<p class="sub-title">Walmart</p>
			  </div>
			</div>
		  </div>

		  <div class="hire-text">
			<button
			class="btn-peersview-primary btn-peersview-md-cust peersview-font-weigth-bold" 
			[routerLink]="['/companies']">See More Companies >></button>
		  </div>
	
		  </div>
	 
</div>