<shared-navbar-component></shared-navbar-component>

<div class="institute-component">
    <div class="container"> 
        <div class="row">
            <div class="col-sm-5">
                <div class="get-job-done-blue">
                    <h2>Get the job done</h2>
                    <h5>Student & Alumni</h5>
                    <p>Connect with your institutions network.</p>
                    <h5>Career Centers</h5>
                    <p>Bring the best jobs to your students & Alumni.</p>
                </div>
            </div>
            <div class="col-sm-5 col-offset-md-2">
                <div class="student-form-part ">
             <div class="form-group">
                <strong>Students & Alumni</strong>
                <label>Please select your institution for access.</label>
                <select name="" id="" class="form-control">
                    <option value="">Please Select your school to sign in.</option>
                </select>
             </div>
                <p class="or-prt">OR    </p>
                <div class="form-group">
                    <label>Please authenticate with your email.</label>
                    <input type="text" class="form-control" placeholder="email@example.edu">
                </div>
                <input type="button" class="btn submit-btn" value="Submit">
                </div>
            </div>
        </div> 
    </div>
</div>
